<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="5">
  <test name="Test">
  
 <parameter name="browserType" value="CH" />
 <parameter name="url" value="https://www.retailmenot.com" />
  
    <classes>
      <class name="com.h2k.mvn.RetailMeNotTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
